# Eclipse
.classpath/
.project/
.settings/

# Netbeans
.nb-gradle/
.nb-gradle.properties

# Intellij

*.iml
*.ipr
*.iws
.idea/

# Maven
build.xml
target/

# Gradle
.gradle/
*/build/
build/

# Vim
*.swp
